<!-- Footer -->
<footer class="footer">
    <div class="bg-sapphire white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Connect With Us!</h4>
                    <hr class="bg-white">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h6>Links</h6>
                    <ul class="footer-social">
                        <li><a href="/"><span class="icon-home"></span> Home</a></li>
                        <li><a href="/coming-soon"><span class="icon-event"></span> Events</a></li>
                        <li><a href="/coming-soon"><span class="icon-people_alt"></span> Seminars</a></li>
                        <li><a href="/coming-soon"><span class="icon-folder-open"></span> Projects</a></li>
                        <li><a href="/about"><span class="icon-info"></span> About</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6>Social Media</h6>
                    <ul class="footer-social">
                        <li><a href="https://github.com/devclubtcsc"><span class="icon-github"></span> GitHub</a></li>
                        <li><a href="https://twitter.com/devclubtcsc"><span class="icon-twitter"></span> Twitter</a></li>
                        <li><a href="https://facebook.com/devclubtcsc"><span class="icon-facebook"></span> Facebook</a></li>
                        <li><a href="https://instagram.com/devclubtcsc"><span class="icon-instagram"></span> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>Talk With Us!</h6>
                    <a href="mailto:devclubtcsc@gmail.com" class="btn btn-primary btn-md btn-block btn-raised"><span class="icon-email"></span> Mail</a>
                    <a href="https://discord.gg/5eNCzS9" class="btn btn-primary btn-md btn-block btn-raised"><span class="icon-discord"></span> Discord</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="made-by white">Made With ❤️ At Dev Club!
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
