.btn {
    border-radius: 2rem;
}

.btn-primary {
    background: linear-gradient(47deg, rgba(11,0,205,1) 0%, rgba(0,123,255,1) 100%) !important;
}

.btn:hover, .btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75) !important;
}

.btn-raised {
    transition: all 0.5s ease-in-out;
}

.btn-raised:hover, .btn-raised:focus {
    transition: all 0.5s ease-in-out;
}
