html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer;
}

.header-blocker {
    margin-top: $header;
}

.hero-desc {
    margin: 0 2rem;
}

.info-container {
    padding: 1.5rem;
    overflow: auto;
}

.info-container > .container > * {
    margin: 2rem 0 0 0;
}

.info-container > .container > *:last-child {
    margin: 2rem 0 2rem 0;
}

.pd {
    padding: 2rem;
}

.jumbotron {
    margin-top: 2em;
    background-color: transparent;
}

.br-1 {
    border-radius: 1rem;
}

blockquote {
    border-left: 10px solid $sapphire;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 20px;
    line-height: 1.4;
}

div > .highlight {
    margin: 0;
    padding: 0.25rem;
}

code[class^="language-plaintext highlighter-rouge"] {
    padding: 0.2rem 0.25rem;
}

div[class^="language-plaintext highlighter-rouge"] {
    margin-bottom: 1rem;
}

blockquote {
    margin-top: 1.5rem;
}
