@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');

html * {
    font-family: Nunito, 'sans-serif';
}

.w600 {
    font-weight: 600;
}

p, li, a {
    font-family: Nunito;
}
